{% extends 'quotes/base.html' %}

{% block content %}
<div class="container">
    <div class="title-container">
        <h2>Sign Up</h2>
    </div>


    <div class="form-container">
        <form method="post" action="{% url 'users:signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="text-danger">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="text-danger">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <div class="grid">
                <button type="submit" class="btn-primary">Submit</button>
                <button type="reset" class="btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}